@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);


*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.calender_table {
    display: inline-block;
}
.container {
    border: 2px solid black;
    margin: 30px 200px;
    padding: 10px 160px;
}
h1.title {
    display: inline-block;
    border: 1px solid black;
    padding: 0px 220px;
}
.calender_heading > div {
    display: inline-block;
    margin: 4px 0px;
}
button {
    background: none;
    outline: none;
   border: none;
    padding: 2px 10px;
    margin: 4px 0px;
}
.calender_heading {
    border: 1px solid rgb(206, 113, 32);
    margin: 5px 0px;
    padding: 0px;
    overflow: auto;
    background: rgb(206, 113, 32);
    color: white;
}
button.next {
    float: right;
}
button.previous {
    float: left;
}
i.fa.fa-arrow-left, i.fa.fa-arrow-right {
    color: white;
}
.today_button, .find_button {
    border: 1px solid rgb(223, 172, 127);
}
table, td, th, tr {
    border-collapse: collapse;
}
th,td {
    padding: 3px 4px;
}
.calender_table_div {
    margin: 10px 4px;
}
.calender_table {
    display: inline-block;
    /* border-bottom: none; */
    /* border-left: none; */
    /* border-right: none; */
    border: none;
}
tr {
    border-bottom: 2px solid grey;
}
th {
    /* margin: 0px 0px 10px 0px; */
    padding: 3px 4px 20px 4px;
}
.calender_buttons > * {
    margin: 5px 15px;
    padding: 3px 10px;
}